.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #777;
}
.navbar-toggler-right {
    position: absolute;
    right: 1rem;
}
.navbar-brand{
    margin-right:0px !important;
    font-size: 14px;
    color: #777;
    
}
.navbar-toggler-right li {
    margin-left:10px;
}
